---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <section>
    <h1>About Us</h1>
    <p>
      Learn about our mission, vision, and the people who make our church a
      community.
    </p>
  </section>
  <Footer />
</Layout>
