---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <section>
    <h1>Online Giving</h1>
    <p>
      Your generosity helps us continue our mission. Thank you for supporting
      us.
    </p>
    <a href="#" class="btn">Give Now</a>
  </section>
  <Footer />
</Layout>
