---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <section>
    <h1>Our History</h1>
    <p>
      Discover the story of how Greater Mt. Zion began and how we’ve grown over
      the years.
    </p>
  </section>
  <Footer />
</Layout>
